body {
  place-items: center;
  /* background: linear-gradient(155deg, #0010f2 15%, #2bff00 85%); */
  background-color: rgb(0, 113, 212);
}

#root {
  /* height: 50vh; */
  width: 95vw;
  min-height: 80vh;
  padding: 15px 10px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.225);
  border-radius: 7px;
}

a {
  color: #64ffb1;
  text-decoration: inherit;
  border-radius: 8px;
  padding: 10px 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
/* 
a:hover {
  color: #f25353;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

a:hover {
  border-color: #646cff;
}

a:focus,
a:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */